/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 2% 0;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #FFDDD2;
    padding: 3% 0 2%;
    margin-top: -2%;
}

.links {
    width: 30%;
    font-family: 'Baloo Chettan 2', cursive;
}

nav h2 {
    width: 70%;
    font-size: 4.5rem;
    color: #006D77;
    margin-top: -1.2%;
    padding-left: 1%;
    font-family: 'Carter One', cursive;
}

.home, .about, .contact, .projects {
    background-color: #E29578;
    color: #006D77;
    padding: 4%;
    text-align: center;
    margin: 3% 2.1% 0;
    border-radius: 25%;
}

@keyframes navlinks {
    0% {background-color: #E29578;}
    50% {background-color: #FF571F;}
}

a:hover {
    animation-name: navlinks;
    animation-duration: 4s;
}

.body {
    background-color: #EDF6F9;
}
.main {
    position: relative;
    text-align: center;
    width: 75%;
    height: 70vh;
    margin: 10%;
}

.container img {
    height: 90vh;
    margin-top: 5%;
}

.banner {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 10rem;
    color: #006D77;
    font-family: 'Carter One', cursive;
}

.banner button {
    position: absolute;
    text-align: center;
    margin-left: 22%;
    padding: 3% 15%;
    font-size: 2rem;
    border-radius: 5%;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1.8rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -10%;
}  

.row div {
    width: 30%;
    padding: 5%;
    text-align: center;
}

.row img {
    height: 40vh;
    width: 100%;
}

/* .desktop {
    width: 100%;
}

.gamer {
    width: 100%;
    margin 0 -20%;
} */

h4 {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 4rem;
    color: #006D77;
}

/* .row2 {
    display: flex;
    justify-content: center;
}

.row2 div {
    width: 100%;
    padding: 5%;
    text-align: center;
}

.row2 img {
    height: 40vh;
} */

footer {
    background-color: #006D77;
    height: 30vh;
    width: 100%;
    margin-bottom: -5%;;
}

footer button {
    position: absolute;
    text-align: center;
    margin-left: 40%;
    margin-top: 1%;
    padding: 1% 6%;
    border-radius: 5%;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1.8rem;
}

@media (max-width: 800px) {
    nav {
        display: block;
    }

    nav h2 {
        width: 100%;
        margin-left: 30%;
    }

    .links {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .home, .about, .contact, .projects {
        padding: 2%;
        margin-top: -0.1%;
    }

    .banner {
        font-size: 8rem;
        top: 60%;
        left: 20%;
    }

    .container img {
        width: 80%;
        height: 90vh;
    }

    .row div {
        width: 50%;
    }

    .row {
        justify-content: space-around;
    }

    footer button {
        margin-top: 4%;
    }
}